/* =============
   Charts
============= */

/* Flot chart */
#flotTip {
  padding: 8px 12px;
  background-color: $white;
  z-index: 100;
  color: $dark;
  opacity: 1;
  box-shadow: 0 5px 25px 5px rgba(0, 0, 0, 0.14);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;;
  border-radius: 3px;;
}

.legend tr {
  height: 30px;
  font-family: $font-secondary;
}

.legendLabel {
  padding-left: 5px !important;
  line-height: 10px;
  padding-right: 20px;
  font-size: 13px;
  font-weight: 500;
  color: rgba($dark,0.6);
  text-transform: uppercase;
}

.legendColorBox div div{
  border-radius: 50%;
}

/* Morris chart */
.morris-hover.morris-default-style {
  border-radius: 3px;
  padding: 10px 12px;
  background: $white;
  border: none;
  box-shadow: 0 5px 25px 5px rgba(0, 0, 0, 0.14);
  color: $dark;
}


/* Sparkline chart */

.jqstooltip {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: auto !important;
  height: auto !important;
  background-color: $white !important;
  box-shadow: 0 5px 25px 5px rgba(0, 0, 0, 0.14);
  padding: 5px 10px !important;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  border-color: $white !important;
}
.jqsfield {
  color: $dark !important;
  font-size: 12px !important;
  line-height: 18px !important;
}

