/* =============
   FAQ
============= */

.faq-box {
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 20px;

  img {
    height: 60px;
    margin-bottom: 30px;
  }
  h4 {
    margin-bottom: 20px;
  }
  p {
    line-height: 24px;
    font-size: 14px;
  }
}