/* =============
   Form Advanced
============= */

/* Select 2 */
.select2-container {
  width: 100% !important;

  .select2-selection--single {
    border: 1px solid darken($light3,5%);
    height: 38px;

    .select2-selection__rendered {
      line-height: 36px;
      padding-left: 12px;
    }

    .select2-selection__arrow {
      height: 34px;
      width: 34px;
      right: 3px;

      b{
        border-color: #999 transparent transparent transparent;
        border-width: 6px 6px 0 6px;
      }
    }
  }
}

.select2-container--open {
  .select2-selection--single {

    .select2-selection__arrow {

      b{
        border-color: transparent transparent #999 transparent !important;
        border-width: 0 6px 6px 6px !important;
      }
    }
  }
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $primary;
  background: $bg-gradient;
}
.select2-results__option {
  padding: 6px 12px;
}

.select2-dropdown {
  border: 1px solid darken($light3,5%);
  padding-top: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .15);
}
.select2-search {
  input{
    border: 1px solid darken($light3,5%);
  }
}

.select2-container .select2-selection--multiple {
  min-height: 38px;
  border: 1px solid darken($light3,5%);

  .select2-selection__rendered {
    padding: 2px 10px;
  }
  .select2-search__field {
    margin-top: 7px;
    border: 0;
  }
  .select2-selection__choice {
    background-color: $primary;
    background: $bg-gradient;
    border: 1px solid transparent;
    color: $white;
    border-radius: 3px;
    padding: 0 7px;
  }
  .select2-selection__choice__remove {
    color: $white;
  }

}



/* AUTOCOMPLETE */
.autocomplete-suggestions {
  border: 1px solid #f9f9f9;
  background: $white;
  cursor: default;
  overflow: auto;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}

.autocomplete-suggestion {
  padding: 5px 8px;
  white-space: nowrap;
  overflow: hidden;
}

.autocomplete-no-suggestion {
  padding: 2px 5px;
}

.autocomplete-selected {
  background-color: $primary;
  background: $bg-gradient;
  color: $white;
  cursor: pointer;

  strong {
    color: $white !important;
  }
}

.autocomplete-suggestions strong {
  font-weight: bold;
  color: $dark;
}

.autocomplete-group {
  padding: 2px 5px;
}

.autocomplete-group strong {
  font-weight: bold;
  font-size: 16px;
  color: $dark;
  display: block;
}


/* Bootstrap tagsinput */
.bootstrap-tagsinput {
  box-shadow: none;
  padding: 3px 7px 5px;
  width: 100%;
  line-height: 1;
  border: 1px solid darken($light3,5%);

  .label-info {
    background-color: $primary;
    background: $bg-gradient;
    display: inline-block;
    padding: 4px 8px;
    font-size: 13px;
    margin: 3px 1px;
    border-radius: 3px;
  }
}


/* Bootstrap select */
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100% !important;
}

.bootstrap-select  {
  .dropdown-toggle {
    &:focus {
      outline: none !important;
    }
  }
  .glyphicon {
    padding-right: 6px;
  }
}


.bootstrap-select.show>.dropdown-menu>.dropdown-menu {
  display: block;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li.hidden{
  display:none;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li a{
  display: block;
  width: 100%;
  padding: 3px 1.5rem;
  clear: both;
  font-weight: 400;
  color: $dark;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;

  &:hover {
    background-color: $primary;
    background: $bg-gradient;
    color: $white;
  }
}
.bootstrap-select .check-mark::after {
  content: "\F12C";
  font-family: "Material Design Icons";
}

.bootstrap-select button {
  overflow: hidden;
  text-overflow: ellipsis;
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
  margin-top: 0;
}

/* X Editable */
.editable-checklist label{
  display: block;
}

/* Bootstrap Touchspin */
.bootstrap-touchspin {
  .input-group-addon {
    padding: .5rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    color: $dark;
    text-align: center;
    background-color: lighten($light,7%);
    border: 1px solid rgba($dark,.15);
  }
  .input-group-btn:not(:first-child)>.btn, .input-group-btn:not(:first-child)>.btn-group {
    z-index: 2;
    margin-left: -1px;
  }
  .input-group .form-control:not(:first-child), .input-group-addon:not(:first-child), .input-group-btn:not(:first-child)>.btn, .input-group-btn:not(:first-child)>.btn-group>.btn, .input-group-btn:not(:first-child)>.dropdown-toggle, .input-group-btn:not(:last-child)>.btn-group:not(:first-child)>.btn, .input-group-btn:not(:last-child)>.btn:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .input-group .form-control:not(:last-child), .input-group-addon:not(:last-child), .input-group-btn:not(:first-child)>.btn-group:not(:last-child)>.btn, .input-group-btn:not(:first-child)>.btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:not(:last-child)>.btn, .input-group-btn:not(:last-child)>.btn-group>.btn, .input-group-btn:not(:last-child)>.dropdown-toggle {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}