/* =============
   Form
============= */

label {
  font-size: 14px;
  color: $dark;
  letter-spacing: 0.01em;
  font-family: $font-secondary;
}

select[multiple] option+option, select[size] option+option {
  margin-top: 1px;
}

select[multiple] option, select[size] option {
  padding: 6px 12px;
  border-radius: 2px;
}

select[multiple] {
  height: auto;
}

textarea.form-control {
  min-height: 90px;
}

.form-control {
  border: 1px solid darken($light,3%);
  border-radius: 4px;
  max-width: 100%;
  font-size: $font-size-base;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
}
.form-control:focus {
  border: 1px solid darken($light,20%);
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
}
.input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 16px;
  line-height: 1.3333333;
  border-radius: 4px;
}
.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}



// Checkbox and Radio
.custom-control-input {
  display: none;
}
.custom-control-input:checked~.custom-control-indicator {
  background-color: $custom;
}

.form-check-input:only-child {
  position: absolute;
}

