/* =============
   Form Wizard
============= */

.wizard > .content {
  background: $white;
  min-height: 240px;
  padding: 20px;
  margin-top: 0;
}

.wizard > .content > .body {
  padding: 0;
  position: relative;

  ul > li {
    display: block;
    line-height: 30px;
  }
  label.error {
    color: $danger;
    margin-left: 0;

  }
  label {
    display: inline-block;
    margin-top: 10px;
  }
}

.wizard > .steps {
  .number {
    border-radius: 50%;
    background-color: rgba(255,255,255,0.3);
    display: inline-block;
    line-height: 30px;
    margin-right: 10px;
    width: 30px;
    text-align: center;
  }
  .disabled {
    a {
      background: $white;
      color: $dark;
      cursor: default;
      border: 1px solid $light;

      &:hover,&:active {
        background: $white;
        color: $dark;
        cursor: default;
        border: 1px solid $light;
      }
    }
  }
  .current {
    a {
      background: $custom;
      background: $bg-gradient;
      &:hover,&:active {
        background: $custom;
        background: $bg-gradient;
        .number {
          color: $white;
        }
      }
      .number {
        color: $white;
      }
    }
  }
  .done {
    a {
      background: lighten($custom,20%);

      &:hover,&:active {
        background: lighten($custom,20%);
      }
    }
  }
}

.wizard > .steps a, .wizard > .steps a:hover, .wizard > .steps a:active, .wizard > .content {
  border-radius: 2px;
}

.wizard > .actions {
  a {
    background: $custom;
    background: $bg-gradient;
    border-radius: 2px;
    color: $white;
    &:hover,&:active {
      background: $custom;
      border-radius: 2px;
      color: $white;
    }
  }
  .disabled {
    a {
      background: $white;
      color: $dark;
      cursor: default;
      border: 1px solid $light;

      &:hover,&:active {
        background: $white;
        color: $dark;
        cursor: default;
        border: 1px solid $light;
      }
    }
  }
}